<div class="container">
  <div class="login-section">
    <div class="section-header">
      <p class="sect-one">LOGO</p>
      <hr />
      <p class="sect-two">PLACEHOLDER</p>
    </div>
    <div class="title">
      <h2>Confirm password</h2>
      <p>Type in your new password and code</p>
    </div>
    <form action="" (ngSubmit)="onSubmit()" [formGroup]="confirmPassForm">
      <div class="form-group">
        <div class="error-field">
          <div class="input-icon">
            <i class="bi bi-envelope"></i>
            <input
              type="email"
              name="email"
              id="email"
              class="login-field"
              placeholder="Email Address"
              formControlName="email"
              required
            />
          </div>
          <span
            [class]="
              confirmPassForm.controls['email'].dirty &&
              confirmPassForm.hasError('required', 'email')
                ? 'error-show'
                : 'error-span'
            "
            ><i class="bi bi-x-circle"></i
          ></span>
        </div>
      </div>
      <div class="form-group">
        <div class="password-span">
          <div class="error-field">
            <div class="input-icon">
              <i class="bi bi-lock"></i>
              <input
                [type]="changeType ? 'password' : 'text'"
                name="password"
                id="password"
                formControlName="password"
                placeholder="New Password"
                class="login-field"
                required
              />
            </div>
            <span class="icon-span" (click)="viewPass()"
              ><i [class]="visible ? 'bi bi-eye' : 'bi bi-eye-slash'"></i
            ></span>
            <span
              [class]="
                confirmPassForm.controls['password'].dirty &&
                confirmPassForm.hasError('required', 'password')
                  ? 'error-show'
                  : 'error-span'
              "
              ><i class="bi bi-x-circle"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="password-span">
          <div class="error-field">
            <div class="input-icon">
              <i class="bi bi-lock"></i>
              <input
                [type]="changeType2 ? 'password' : 'text'"
                id="confirmPassword"
                placeholder="Confirm Password"
                formControlName="confirmPassword"
                class="login-field"
                required
              />
            </div>
            <span class="icon-span" (click)="viewPass2()"
              ><i [class]="visible2 ? 'bi bi-eye' : 'bi bi-eye-slash'"></i
            ></span>
            <span
              [class]="
                confirmPassForm.controls['confirmPassword'].dirty &&
                confirmPassForm.hasError('required', 'confirmPassword')
                  ? 'error-show'
                  : 'error-span'
              "
              ><i class="bi bi-x-circle"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="error-field">
          <div class="input-icon">
            <i class="bi bi-lock"></i>
            <input
              type="text"
              name="code"
              id="code"
              placeholder="Code"
              class="login-field"
              formControlName="code"
              required
            />
          </div>
          <span
            [class]="
              confirmPassForm.controls['code'].dirty &&
              confirmPassForm.hasError('required', 'code')
                ? 'error-show'
                : 'error-span'
            "
            ><i class="bi bi-x-circle"></i
          ></span>
        </div>
      </div>
      <div class="match-error">
        <p
          *ngIf="confirmPassForm.errors?.['passwordmatcherror']"
          class="alert alert-danger"
        >
          Passwords do not match!!
        </p>
        <p
          *ngIf="confirmPassForm.hasError('email', 'email')"
          class="alert alert-danger"
        >
          Please type in a valid email
        </p>
        <p
          *ngIf="confirmPassForm.hasError('minlength', 'password')"
          class="alert alert-danger"
        >
          Password is too short
        </p>
      </div>
      <div class="login-button">
        <button class="log-btn" [disabled]="!confirmPassForm.valid">
          Confirm
        </button>
      </div>
    </form>
  </div>
</div>
