<div class="container">
  <div class="invoice-container">
    <button class="go-back" (click)="goback()">
      <i class="bi bi-caret-left-fill"></i>
      Go Back
    </button>
    <div class="invoice-heading">
      <h3 style="font-weight: 500">Complaints</h3>
    </div>
    <div class="invoice-body">
      <ng-container *ngIf="feedBack?.customerComplaintTitle === null">
      <div class="feedback-container">
            <div class="invoice-content">
              <div class="invoice-img">
                <img
                  src="../../../assets/images/46.png"
                  width="100px"
                  height="100px"
                  alt="invoice"
                />
              </div>
              <div class="invoice-text" style="width: 300px">
                <p style="font-weight: 900">No Feedback given</p>
                <p>
                  You haven't given any feedback for this complaint yet. Click the button below to give your feedback.
                </p>
              </div>
              <div class="invoice-button">
                <button class="invoice-btn" (click)="fileComplaint(feedBack?.complaintId)">
                 Give Feedback
                </button>
              </div>
            </div>
          </div>
      </ng-container>
    <ng-container *ngIf="feedBack?.customerComplaintTitle !== null">
      <div class="complaint-header">
        <div class="complaint-title">
          <p class="bold">Title</p>
          <p>{{ feedBack?.customerComplaintTitle }}</p>
        </div>
        <div class="complaint-info">
          <p>
            <span class="bold">Complaint ID: </span>{{ feedBack?.complaintId }}
          </p>
          <div class="complaint-status">
              <p *ngIf="feedBack?.complaintDecision === 0" class="pending">Pending</p>
              <p *ngIf="feedBack?.complaintDecision === 1" class="approved">Approved</p>
              <p *ngIf="feedBack?.complaintDecision === 2" class="declined">Declined</p>
          </div>
        </div>
      </div>
      <div class="complaint-body">
        <div class="complaint-desc">
          <p class="bold">Description</p>
          <p>{{ feedBack?.customerComplaintDescription }}</p>
        </div>
        <div class="complaint-images">
            <div class="complaint-img" *ngFor="let image of imageSrc">
              <img src="{{ image }}" alt="image" width="100px" height="100px"  style="border-radius: 5px;"/>
            </div>
        </div>
      </div>
    </ng-container>
    </div>
  </div>
</div>



