<div class="container">
  <div class="invoice-container">
    <button class="go-back" (click)="goback()">
      <i class="bi bi-caret-left-fill"></i>
      Go Back
    </button>
    <div class="invoice-heading">
      <h3 style="font-weight: 500">Give Feedback</h3>
    </div>
    <div class="invoice-body">
      <div class="form-body">
        <form action="" (ngSubmit)="onSubmit()" [formGroup]="feedBackForm">
              <div class="form-group">
                <label for="customerComplaintTitle">Title</label>
                <div class="error-field">
                  <input
                    type="text"
                    name="customerComplaintTitle"
                    id="customerComplaintTitle"
                    class="login-field"
                    placeholder="Enter Title.."
                    formControlName="customerComplaintTitle"
                    required
                  />
                  <span
                    [class]="
                      feedBackForm.controls['customerComplaintTitle'].dirty &&
                      feedBackForm.hasError('required', 'customerComplaintTitle')
                        ? 'error-show'
                        : 'error-span'
                    "
                    ><i class="bi bi-x-circle"></i
                  ></span>
                </div>
              </div>
              <div class="form-group">
                <label for="customerComplaintDescription">Description</label>
                <div class="error-field">
                  <textarea 
                    type="text"
                    name="customerComplaintDescription"
                    id="customerComplaintDescription"
                    class="login-field"
                    placeholder="Text..."
                    rows="5"
                    formControlName="customerComplaintDescription"
                  ></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="customerComplaintImage">Upload Images</label>
                <ngx-dropzone class="drop" (change)="onSelect($event)">
	<ngx-dropzone-label>
        <div>
            <div class="link-flex">
                <div class="icon">
                  <i class="bi bi-cloud-upload"></i>
                </div>
                <div class="link">
                  <p>Browse</p>
                </div>
              </div>
              <div class="file-type">
                <p>Supported formats: JPEG, PNG, GIF</p>
              </div>
        </div>
    </ngx-dropzone-label>
	<ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"  [removable]="true" (removed)="onRemove(f)">
		<ngx-dropzone-label >{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
	</ngx-dropzone-image-preview>
</ngx-dropzone>
              </div>
              <div class="login-button">
                <button class="log-btn" *ngIf="!isLoading" [disabled]="!feedBackForm.valid">
                  Submit
                </button>
            <button class="log-btn2" *ngIf="isLoading"  disabled><i class='bx bx-loader-alt bx-spin bx-rotate-90' ></i></button>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>
