<div class="container">
    <div class="login-section">
    <div class="section-header">
        <img src="../../../../assets/images/moniepass.png" />
    </div>
    <div class="title">
        <h2>Sign Up</h2>
        <p>Welcome back! Please enter your details</p>
    </div>
    <form   action="" (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
        <div class="flex-form">
            <div class="form-group">
                <div class="error-field">
                    <div class="input-icon">
                        <i class="bi bi-person"></i>
                        <input type="text" name="firstName" id="firstName" class="login-field" placeholder="Firstname" formControlName="firstName" required 
                    />
                    </div>
                        <span [class]="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required', 'firstName') ? 'error-show' : 'error-span'"><i class="bi bi-x-circle"></i></span>
                </div>
            </div>
            <div class="form-group">
                <div class="error-field">
                    <div class="input-icon">
                        <i class="bi bi-person"></i>
                        <input type="text" name="lastName" id="lastName" class="login-field" placeholder="Lastname" formControlName="lastName" required 
                    />
                    </div>
                        <span [class]="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required', 'lastName') ? 'error-show' : 'error-span'"><i class="bi bi-x-circle"></i></span>
                </div>
            </div>
        </div>
        <div class="flex-form">
        <div class="form-group">
            <div class="error-field">
                <div class="input-icon">
                    <i class="bi bi-person"></i>
                    <input type="text" name="username" id="username" class="login-field" placeholder="Username" formControlName="username" required 
                />
                </div>
                    <span [class]="signUpForm.controls['username'].dirty && signUpForm.hasError('required', 'username') ? 'error-show' : 'error-span'"><i class="bi bi-x-circle"></i></span>
            </div>
        </div>
        <div class="form-group">
            <div class="error-field">
                <div class="input-icon">
                    <i class="bi bi-envelope"></i>
                    <input type="email" name="email" id="email" class="login-field" placeholder="Email Address" formControlName="email" required 
                />
                </div>
                    <span [class]="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email') ? 'error-show' : 'error-span'"><i class="bi bi-x-circle"></i></span>
            </div>
        </div>
        </div>
        <div class="match-error">
            <p *ngIf="signUpForm.errors?.['passwordmatcherror']" class="alert alert-danger">Passwords do not match!!</p>
            <p *ngIf="signUpForm.hasError('email', 'email')" class="alert alert-danger">Please type in a valid email</p>
            <p *ngIf="signUpForm.hasError('minlength', 'password')" class="alert alert-danger">Password is too short, Must be at least 8 characters</p>
        </div>
        <div class="login-button">
            <button class="log-btn" *ngIf="!isLoading" [disabled]="!signUpForm.valid" >Sign Up</button>
            <button class="log-btn2" *ngIf="isLoading"  disabled><i class='bx bx-loader-alt bx-spin bx-rotate-90' ></i></button>

        </div>
    </form>
    <div class="sign-up-link"><p>
        Already have an account? 
        <a  aria-current="page" 
                 routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/login']" >Log In</a>
    </p></div>
    </div>
</div>



