.happy, .sad, .angry {
    display: flex;
    flex-direction: column;
    
    margin: 0 30px;
}
.confirm-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirm-happy, .confirm-sad,.confirm-angry {
    border: none;
    background-color: transparent;
}
.bi {
    font-size: 50px;
}
.bi-emoji-smile-fill {
    color:  #4caf50;
}
.bi-emoji-angry-fill {
    color: #f44336;
}
.bi-emoji-frown-fill {
    color:  #ff9800;
}