<div class="container">
    <div class="confirm-section">
    <div class="section-header">
        <img src="../../../../assets/images/moniepass.png" />
    </div>
    <div class="title">
        <h2>Confirm Email</h2>
        <p>Kindly put in the code sent to your email</p>
    </div>
    <form   action="" (ngSubmit)="onSubmit()" [formGroup]="confirmForm">
        <div class="form-group">
            <div class="error-field">
                <div class="input-icon">
                    <i class="bi bi-envelope"></i>
                        <input type="email" name="email" id="email" class="login-field" placeholder="Email Address" formControlName="email"  required 
                />
                </div>
                    <span [class]="confirmForm.controls['email'].dirty && confirmForm.hasError('required', 'email') ? 'error-show' : 'error-span'"><i class="bi bi-x-circle"></i></span>
            </div>
        </div>
        <div class="form-group">
                    <div class="error-field">
                        <div class="input-icon">
                            <i class="bi bi-lock"></i>
                            <input type="text" name="code" id="code"  placeholder="Code" class="login-field" formControlName="code" required 
                />
                        </div>
                        <span [class]="confirmForm.controls['code'].dirty && confirmForm.hasError('required', 'code') ? 'error-show' : 'error-span'"><i class="bi bi-x-circle"></i></span>
                    </div>
                
        </div>
        <div class="login-button">
            <button class="log-btn" *ngIf="!isLoading" [disabled]="!confirmForm.valid" >Confirm</button>
            <button class="log-btn2" *ngIf="isLoading"  disabled><i class='bx bx-loader-alt bx-spin bx-rotate-90' ></i></button>

        </div>
    </form>
    </div>
</div>


