<div class="container">
    <div class="confirm-section">
    <div class="section-header">
        <p class="sect-one">LOGO</p>
        <hr>
        <p class="sect-two">PLACEHOLDER</p>
    </div>
    <div class="title">
        <h2>Forgot password?</h2>
        <p>Please type in your email address</p>
    </div>
    <form   action="" (ngSubmit)="onSubmit()" [formGroup]="forgotPassForm">
        <div class="form-group">
            <div class="error-field">
                <div class="input-icon">
                    <i class="bi bi-envelope"></i>
                        <input type="email" name="email" id="email" class="login-field" placeholder="Email Address" formControlName="email" 
                />
                </div>
                    <span [class]="forgotPassForm.controls['email'].dirty && forgotPassForm.hasError('required', 'email') ? 'error-show' : 'error-span'"><i class="bi bi-x-circle"></i></span>
            </div>
        </div>
        <div class="login-button">
            <button class="log-btn" [disabled]="!forgotPassForm.valid || isLoading" >Send Code</button>
        </div>
    </form>
    </div>
</div>


