.container {
    padding: 50px 20px;
    height: 100vh;
    color: var(--text-two);
}
p {
    margin: 0;
   line-height: 30px;
}
.bold {
    font-weight: 900;
}
.invoice-body {
    border: 1px solid #ccc;
    margin: 20px auto;
    box-shadow: 0px 8px 26.850000381469727px 0px #ccc;
    border-radius: 5px;
    padding: 30px;
}
.go-back {
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 10px 10px;
    border-radius: 8px;
    color: var(--text-two);
    font-weight: 600;
}
.bi {
    margin: 0 5px;
}
.merchant-section {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.order-details-section {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.order-progress-section{
     margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;

}

.progress-box {
    display: flex;
    width: 25%;
    align-items: center;
    border: 1px solid var(--text-two);
    padding: 8px;
    border-radius: 10px;
}
.bi-check-circle-fill {
    margin: 0 10px;
    font-size: 18px;
}
.invoice-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 ;
}
.invoice-btn {
    border: #ccc;
    padding: 15px 25px;
   color: var(--bg-one);
   border-radius: 5px;
    background-color: var(--text-two);
    transition: .3s ease-in-out;
    box-shadow: 0px 8px 26.850000381469727px 0px rgba(0, 29, 109, 0.35);
}
.invoice-btn:hover {
    background-color: var(--text-one);
}
.invoice-btn:disabled{
    background-color: #ccc;
    color: var(--bg-one);
    cursor: not-allowed;
}
.tracker {
    border-left: 2px dashed #ccc;
    height: 30px;
    margin-left: 28px;
}