<div class="container">
  <div class="invoice-container">
    <button class="go-back" (click)="goback()">
        <i class="bi bi-caret-left-fill"></i>
        Go Back</button>
    <div class="invoice-heading">
      <h3 style="font-weight: 500">Orders</h3>
    </div>
    <div class="invoice-body">
      <div class="merchant-section">
        <div class="merchant-details">
          <p>
            <span class="bold"> Vendor: </span>
            {{ currentOrder?.merchantName }}
          </p>
        </div>
        <div class="invoice-id">
          <p>
            <span class="bold"> Invoice Id: </span>
            {{ currentOrder?.orderId }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

