<nav *ngIf="isLoggedIn()" class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div class="nav-tog">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon" matTooltip="Menu"></span>
        </button>
    </div>
        <a class="navbar-brand" [routerLink]="['/home']">
          <div class="section-header">
            <p class="sect-one">LOGO</p>
            <hr />
            <p class="sect-two">PLACEHOLDER</p>
          </div></a
        >
    
    <div class="nav-icons">
      <a
              class="nav-link-2"
              aria-current="page"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="['/Notifications']"
              matTooltip="Notifications"
            >
            <i class="bi bi-bell" ></i>
            </a>
      <a
              class="nav-link-2"
              aria-current="page"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="['/home/profile']"
              matTooltip="Profile"
            >
            <i class="bi bi-person" ></i>
            </a>
      <i (click)="signOut()" class="bi bi-box-arrow-right" matTooltip="Logout"></i>
    </div>

    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="['/home']"
            >
              <div class="link-flex">
                <div class="icon">
                  <i class="bi bi-house-fill"></i>
                </div>
                <div class="link">
                  <p>Home</p>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="['/invoices']"
            >
              <div class="link-flex">
                <div class="icon">
                  <i class="bi bi-receipt"></i>
                </div>
                <div class="link">
                  <p>Invoices</p>
                </div>
              </div></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="['/orders']"
            >
              <div class="link-flex">
                <div class="icon">
                  <i class="bi bi-bag-fill"></i>
                </div>
                <div class="link">
                  <p>Orders</p>
                </div>
              </div></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
