.home-header {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.home-title {
    text-align: center;
    color: var(--text-two);
}
.invoice-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px 20px;
    color: var(--text-two);
}
.invoice-body {
    padding: 20px;
    margin-top: 20px;
}

.invoice-btn-2{
    border: #ccc;
    border-radius: 10px;
    padding: 8px 10px;
    color: var(--text-two);
}
.invoice-btn-2:hover {
    font-weight: 700;
}
.invoice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.invoice-content {
    text-align: center;
}
.invoice-texts {
    color: var(--text-two);
}
.invoice-texts > p {
    font-weight: 900;
}
.invoice-btn {
    border: #ccc;
    padding: 10px 14px;
   color: var(--bg-one);
   border-radius: 5px;
    background-color: var(--text-two);
    transition: .3s ease-in-out;
    box-shadow: 0px 8px 26.850000381469727px 0px rgba(0, 29, 109, 0.35);
}
.invoice-btn:hover {
    background-color: var(--text-one);
}
.invoice-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pay-verified {
    color: #4caf50;
    background-color: #ccc;
    font-weight: 800;
    display: inline;
    padding: 4px 12px;
    border-radius: 48px;
}
.withdrawn{
     color: #f44336;
    background-color: #ccc;
    font-weight: 800;
    display: inline;
    padding: 4px 12px;
    border-radius: 48px;
}
.pending{
     color: #ff9800;
    background-color: #ccc;
    font-weight: 800;
    display: inline;
    padding: 4px 12px;
    border-radius: 48px;
}
.processing-pay{
    color: #2196f3;
    background-color: #ccc;
    font-weight: 800;
    display: inline;
    padding: 4px 12px;
    border-radius: 48px;
}
.pay-failed{
    color: #f44336;
    background-color: #ccc;
    font-weight: 800;
    display: inline;
    padding: 4px 12px;
    border-radius: 48px;
}
.pending2{
     color: #ff9800;
    font-weight: 800;
    border-radius: 48px;
}
.pending2:hover{
    background-color: #ccc;
}
.investigating{
     color: #ff9800;
    font-weight: 800;
    border-radius: 48px;
}
.investigating:hover{
    background-color: #ccc;
}
.not-confirmed {
    color: #2196f3;
    font-weight: 800;
    border-radius: 48px;
}
.not-confirmed:hover {
    background-color: #ccc;
}
.confirmed{
    color: #4caf50;
    font-weight: 800;
    border-radius: 48px;
}
.confirmed:hover {
    background-color: #ccc;
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
}
 @media only screen and (max-width: 480px) {
    .invoice-item {
        flex-direction: column;
    }
    .invoice-texts {
        margin: 10px 0;
    }
   
 }