<app-spinner></app-spinner>
<div class="home-header">
  <div class="home-title">
    <h1 style="font-weight: 500">Hey, {{ user | uppercase }}!👋</h1>
    <p>Welcome to moniepass</p>
  </div>
</div>

<div class="container">
  <div class="home-body">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Generate Invoice" class="invoice-main">
        <ng-container *ngIf="invoices?.length === 0">
          <div class="invoice-container">
            <div class="invoice-content">
              <div class="invoice-img">
                <img
                  src="../../../assets/images/46.png"
                  width="100px"
                  height="100px"
                  alt="invoice"
                />
              </div>
              <div class="invoice-text" style="width: 300px">
                <p style="font-weight: 900">No Invoices yet</p>
                <p>
                  You currently do not have any invoices yet. Click the button
                  below to generate.
                </p>
              </div>
              <div class="invoice-button">
                <button class="invoice-btn" (click)="createInvoice()">
                  Generate Invoice
                </button>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="invoices?.length > 0">
          <div class="invoice-body">
            <div class="invoice-list" *ngFor="let invoice of invoices">
              <div class="invoice-item">
                <div class="invoice-texts">
                  <p>
                    Date Created:
                    {{ invoice?.lastModifiedDate | date : "short" }}
                  </p>
                  <p>Invoice ID: {{ invoice?.invoiceId }}</p>
                  <p *ngIf="invoice?.status === 1" class="pending">Pending</p>
                  <p *ngIf="invoice?.status === 2" class="withdrawn">
                    Withdrawn
                  </p>
                  <p *ngIf="invoice?.status === 3" class="processing-pay">
                    Processing Payment
                  </p>
                  <p *ngIf="invoice?.status === 4" class="pay-verified">
                    Payment Verified
                  </p>
                  <p *ngIf="invoice?.status === 5" class="pay-failed">
                    Payment Failed
                  </p>
                </div>
                <div class="invoice-button-2">
                  <button
                    class="invoice-btn-2"
                    (click)="viewInvoice(invoice?.invoiceId)"
                  >
                    View Invoice
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="invoice-button">
            <button class="invoice-btn" (click)="createInvoice()">
              Generate Invoice
            </button>
          </div>
        </ng-container>
      </mat-tab>
      <mat-tab label="Make Payment">
        <ng-container *ngIf="orders?.length === 0">
          <div class="invoice-container">
            <div class="invoice-content">
              <div class="invoice-img">
                <img
                  src="../../../assets/images/46.png"
                  width="100px"
                  height="100px"
                  alt="invoice"
                />
              </div>
              <div class="invoice-text" style="width: 300px">
                <p style="font-weight: 900">No Orders yet</p>
                <p>
                  You currently do not have any orders yet. Click the button
                  below to make a payment.
                </p>
              </div>
              <div class="invoice-button">
                <button class="invoice-btn" (click)="createOrders()">
                  Make a payment
                </button>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="orders?.length > 0">
          <div class="invoice-body">
            <div class="invoice-list" *ngFor="let order of orders">
              <div class="invoice-item">
                <div class="invoice-texts">
                  <p>
                    Date Created: {{ order?.lastModifiedDate | date : "short" }}
                  </p>
                  <p>Order ID: {{ order?.orderId }}</p>
                </div>
                <div class="invoice-button-2">
                  <button
                    class="invoice-btn-2 pending2"
                    (click)="viewOrder(order?.orderId)"
                    *ngIf="order?.status === 1"
                  >
                    Pending
                    <i class="bi bi-arrow-right-circle"></i>
                  </button>
                  <ng-container *ngIf="order?.merchantUsername === userName">
                    <button
                      class="invoice-btn-2 not-confirmed"
                      (click)="viewOrder(order?.orderId)"
                      *ngIf="order?.status === 2"
                    >
                      Awaiting Confirmation
                      <i class="bi bi-arrow-right-circle"></i>
                    </button>
                  </ng-container>
                  <ng-container *ngIf="order?.customerUsername === userName">
                    <button
                      class="invoice-btn-2 not-confirmed"
                      (click)="viewOrder(order?.orderId)"
                      *ngIf="order?.status === 2"
                    >
                      Order has arrived <i class="bi bi-arrow-right-circle"></i>
                    </button>
                  </ng-container>
                  <button
                    class="invoice-btn-2 investigating"
                    (click)="viewOrder(order?.orderId)"
                    *ngIf="order?.status === 3"
                  >
                    Investigating Order
                    <i class="bi bi-arrow-right-circle"></i>
                  </button>
                  <button
                    class="invoice-btn-2 confirmed"
                    (click)="viewOrder(order?.orderId)"
                    *ngIf="order?.status === 8"
                  >
                    Order Confirmed
                    <i class="bi bi-arrow-right-circle"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="invoice-button">
            <button class="invoice-btn" (click)="createOrders()">
              Make a payment
            </button>
          </div>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
