<div class="container">
    <div class="invoice-container">
        <div class="invoice-heading">
            <h3 style="font-weight: 500;">
                Order(s)
            </h3>
        </div>
        <div class="invoice-body">
            <ng-container *ngIf="orders?.length === 0">
        <div class="invoice-body-container">
            <div class="invoice-content">
                <div class="invoice-img">
                    <img src="../../../assets/images/46.png" width="100px" height="100px" alt="invoice">
                </div>
                <div class="invoice-text" style="width: 300px;">
                    <p style="font-weight: 900;">No Orders yet</p>
                    <p>You currently do not have any orders yet. Kindly make a payment in the Home page.</p>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="orders?.length > 0">
        <div class="invoice-body-2" >
            <div class="invoice-list" *ngFor="let order of orders">
              <div class="invoice-item">
                <div class="invoice-texts">
                  <p>Date Created: {{ order?.lastModifiedDate | date : "short" }}</p>
                  <p>Order ID: {{ order?.orderId }}</p>
                </div>
                <div class="invoice-button-2">
                  <button class="invoice-btn-2" (click)="viewOrder(order?.orderId)" *ngIf="order?.status === 1" style="color: red;">Pending
                    <i class="bi bi-arrow-right-circle"></i>
                  </button>
                  <ng-container *ngIf="order?.merchantUsername === userName">
                    <button class="invoice-btn-2" (click)="viewOrder(order?.orderId)" *ngIf="order?.status === 2">Not Confirmed
                    <i class="bi bi-arrow-right-circle"></i></button>
                  </ng-container>
                  <ng-container *ngIf="order?.customerUsername=== userName">
                    <button class="invoice-btn-2" (click)="viewOrder(order?.orderId)" *ngIf="order?.status === 2">Confirm Order
                    <i class="bi bi-arrow-right-circle"></i></button>
                  </ng-container>
                  
                  <button class="invoice-btn-2" (click)="viewOrder(order?.orderId)" *ngIf="order?.status === 8" style="background-color: green; color: white;">Order Confirmed
                    <i class="bi bi-arrow-right-circle"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
    </ng-container>
        </div>
    </div>
</div>

